* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.root {
  display: flex;
  height: 100%;
}

.item {
  height: 100%;
  width: 50%;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}
